<template props="initial,final">
    <div>
        <h2>Main</h2>
        <div x-data="{ count: ${initial} }">
            <button x-on:click="count++">Increment</button>

            <span x-text="count"></span>
        </div>
    </div>
</template>