<template props="initial,final,children">
    <div data-cy-main="${initial}">
        <h2>Main</h2>
        <div data-cy-content="" x-data="{ count: ${initial} }">
            <button x-on:click="count++">Increment</button>
            ${children}
            <span x-text="count"></span>
        </div>
    </div>
</template>